extends layout

block content
    h1= title
    p Welcome to #{title}

    p hhh

    h1 This is a Jade template

    div.alert.alert-danger this is a error message

block scripts

    script $(document).ready(function() {console.log('ready'); });



